.items-list-title {
    border-bottom: 1px solid;
    padding: 10px;
}

.items-list-title h3 {
    margin: 0;
}

.items-list-container .items-list-body {
    
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    padding-left: 10px;
    padding-right: 10px;
}