.invoice-preview-container {
    // padding: 10px;
}

.invoice-preview-container .invoice-preview-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-preview-container .invoice-preview-title h2 {
    margin: 0;
}

.invoice-bill-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.invoice-bill-details .bill-from {
    text-align: right;
}

.invoice-bill-details .bill-to p, .invoice-bill-details .bill-from p {
    margin: 0px;
}

.invoice-bill-details .bill-to p.name, .invoice-bill-details .bill-from p.name {
    font-weight: 500;
    line-height: 16px;
    color: #111;
}

.invoice-bill-details .bill-to p.details, .invoice-bill-details .bill-from p.details {
    // color: gray;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #111;
}

.invoice-bill-details .bill-from p.details {
    justify-content: flex-end;
}

.invoice-bill-details .bill-to p span, .invoice-bill-details .bill-from p span {
    color: gray;
    font-size: 10px;
    display: inline-block;
    min-width: 60px;
}

.invoice-bill-details .bill-to p mat-icon, .invoice-bill-details .bill-from p mat-icon {
    font-size: 10px;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.invoice-date {
    margin-top: 20px;
    font-size: 14px;
}

.invoice-items {
    margin-top: 20px; 
}

.invoice-total {
    text-align: right; 
    margin-top: 3px;
}

.invoice-total.first {
    margin-top: 10px;
}

.invoice-total span {
    color: gray;
    font-size: 10px;
}

.footer-button-container {
    display: flex;
    gap: 10px;
}

h2 {
    font-size: 20px;
    color: #111;
}

h3 {
    font-size: 12px;
    color: grey;
    margin-bottom: 5px;
    font-weight: normal;
}