.invoice-preview-container {
    // padding: 10px;
}

.invoice-preview-container .invoice-preview-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-preview-container .invoice-preview-title h2 {
    margin: 0;
}

.invoice-bill-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoice-bill-details .bill-from {
    text-align: right;
}

.invoice-bill-details .bill-to h3, .invoice-bill-details .bill-from h3 {
    margin-bottom: 10px;
}

.invoice-bill-details .bill-to p, .invoice-bill-details .bill-from p {
    margin: 0px;
    margin-bottom: 1px;
}

.invoice-bill-details .bill-to p.name, .invoice-bill-details .bill-from p.name {
    font-weight: 500;
}

.invoice-bill-details .bill-to p.details, .invoice-bill-details .bill-from p.details {
    color: gray;
    font-size: 12px;
}

.invoice-date {
    margin-top: 20px;
    font-size: 14px;
}

.invoice-items {
    margin-top: 20px;
}

.invoice-total {
    text-align: right;
    margin-top: 20px;
}

.footer-button-container {
    display: flex;
    gap: 10px;
}