<table>
    <thead>
        <th *ngFor="let header of headers" [class.text-right]="header.align">
            @if (header.label === 'Checkbox') {

            } @else {
                {{ header.label }}
            }
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let data of data">
            <td *ngFor="let header of headers" (click)="rowSelected(data)" [class.text-right]="header.align">
                @if (header.key === 'checkbox') {
                    <input type="checkbox" [(ngModel)]="data[header.key]" (ngModelChange)="itemSelected()">
                } @else if (header.isNumberInput) {
                    <app-input [placeholder]="header.placeholder" [(ngModel)]="data[header.key]"></app-input>
                } @else if (header.isCurrency) {
                    {{ data[header.key] | currency: 'INR' : 'symbol-narrow' : '1.2-2' : 'en-IN' }}
                } @else if (header.isDate) {
                    {{ data[header.key] | date: 'dd MMMM YYYY' }}
                } @else if (header.isStatus) {
                    <div [ngClass]="{ 'active-status': (data[header.key] === 'active'), 'inactive-status': (data[header.key] === 'inactive') }">{{ data[header.key] }}</div>
                } @else {
                    {{ data[header.key] }}
                }
            </td>
        </tr>
    </tbody>
</table>