<div class="table-scroll" [class.compact]="compact">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers" [class.text-right]="header.align"
          [style.min-width]="header.minWidth" [style.width]="header.width">
          @if (header.label !== 'Checkbox') {
            {{ header.label }}
          }
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of data; let i = index;">
        <td *ngFor="let header of headers" (click)="rowSelected(rowData)" [class.text-right]="header.align"
          [class.cell-name]="header.key === 'name'"
          [style.min-width]="header.minWidth" [style.width]="header.width">
          @if (header.key === 'checkbox') {
          <input type="checkbox" [(ngModel)]="rowData[header.key]" [disabled]="rowData.isDisabled"
            (ngModelChange)="itemSelected()">
          } @else if (header.isNumberInput) {
          <app-input [placeholder]="header.placeholder" [type]="header.type" [(ngModel)]="rowData[header.key]"
            [max]="(rowData.discountType === 'percentage') ? 100 : null"></app-input>
          } @else if (header.isCurrency) {
          {{ rowData[header.key] | currency }}
          } @else if (header.isDate) {
          {{ rowData[header.key] | date: 'dd MMMM YYYY' }}
          } @else if (header.isStatus) {
          <div
            [ngClass]="{ 'active-status': (rowData[header.key] === 'active'), 'inactive-status': (rowData[header.key] === 'inactive') }">
            {{ rowData[header.key] }}</div>
          } @else if (header.isSelect) {
          <app-select [options]="header.options" [(ngModel)]="rowData[header.key]"></app-select>
          } @else if (header.isInvoiceTotal) {
          {{ ((rowData[header.calculationLeftSideKey] * rowData[header.calculationRightSideKey]) - (rowData.discountType ?
          ((rowData.discountType === 'fixed') ? rowData.discount : ((rowData[header.calculationLeftSideKey] *
          rowData[header.calculationRightSideKey]) * (rowData.discount / 100))) : 0)) | currency }}
          } @else if (header.isMultiplication) {
          {{ (rowData[header.calculationLeftSideKey] * rowData[header.calculationRightSideKey]) | currency }}
          } @else if (header.isDiscountAmount) {
          {{ (rowData.discountType ? ((rowData.discountType === 'fixed') ? rowData.discount : ((rowData.quantity *
          rowData.price) * (rowData.discount / 100))) : 0) | currency }}
          } @else if (header.isEdit) {
          <mat-icon class="mat-icon" aria-hidden="false" aria-label="Edit" fontIcon="edit"
            (click)="edit.emit(rowData)"></mat-icon>
          } @else if (header.isViewIcon) {
          <mat-icon class="mat-icon" aria-hidden="false" aria-label="View" fontIcon="visibility"
            (click)="view.emit(rowData)"></mat-icon>
          } @else if (header.isDelete) {
          <mat-icon class="mat-icon delete" aria-hidden="false" aria-label="Delete" fontIcon="delete"
            (click)="deleteRow.emit({data: rowData, index: i})"></mat-icon>
          } @else {
          {{ rowData[header.key] }}
          }
        </td>
      </tr>
    </tbody>
  </table>
</div>
