.customer-list-container {
}

.customer-list-container .customer-list-title {
    border-bottom: 1px solid;
    padding: 10px;
}

.customer-list-container .customer-list-title h3 {
    margin: 0;
}

.customer-list-container .customer-list-body {
    padding: 10px;
}