<div class="invoice-container">
    <div class="title-row">
        <h2>Create Invoice</h2>
    </div>

    <div class="invoice-data">
        <div class="data">
            <div class="title">Customer</div>
            <div class="value" *ngIf="!selectedCustomer" (click)="selectCustomer()">Select Customer</div>
            <div class="value" *ngIf="selectedCustomer"><span>Name: </span><b> {{ selectedCustomer.name }}</b></div>
            <div class="value" *ngIf="selectedCustomer"><span>Contact No.: </span> {{ selectedCustomer.contactNo }}</div>
            <div class="value" *ngIf="selectedCustomer"><span>Address: </span> {{ selectedCustomer.address }}</div>
            <div class="value" *ngIf="selectedCustomer && selectedCustomer.stateCode"><span>State: </span> {{ selectedCustomer.stateCode }}</div>
            <div class="value" *ngIf="selectedCustomer && selectedCustomer.gstNo"><span>GST No.: </span> {{ selectedCustomer.gstNo }}</div>
        </div>

        <div class="data items">
            <div class="title">Items</div>
            <div class="value" *ngIf="!selectedItems.length" (click)="selectItems()">Select Items</div>
            <div *ngIf="selectedItems.length">
                <app-table [headers]="headers" [data]="selectedItems"></app-table>
            </div>
        </div>

        <div class="total-container" *ngIf="selectedItems.length">
            <div class="total">
                <span>Total:</span> {{ countTotal() | currency: 'INR' : 'symbol-narrow' : '1.2-2' : 'en-IN' }}
            </div>
            <div class="discount">
                <span>Discount on total:</span>
                <div class="discount-type">
                    <app-radio [name]="'Discount on total'" [options]="discountOptions" [(ngModel)]="discountOnTotalType"></app-radio>
                    <app-input [(ngModel)]="discountOnTotal" [type]="'number'" [max]="(discountOnTotalType === 'percentage') ? 100 : null"></app-input>
                </div>
            </div>
            <div class="total">
                <span>Grand Total:</span> {{ countTotalAfterDiscount() | currency: 'INR' : 'symbol-narrow' : '1.2-2' : 'en-IN' }}
            </div>
        </div>
    </div>

    <div class="footer-button-container">
        <app-button [title]="'Preview'" [style]="'style2'" (click)="preview()" [disabled]="!selectedCustomer || !selectedItems"></app-button>
        <app-button [title]="'Generate'" (click)="generate()" [disabled]="!selectedCustomer || !selectedItems"></app-button>
    </div>
</div>
