.invoice-container .title-row {
    margin-bottom: 20px;
}

.invoice-container .title-row h2 {
    margin: 0;
}

.data .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000080;
}

.data .value {
    font-size: 14px;
    margin-bottom: 10px;
    color: #333333;
    cursor: pointer;
}

.data.items {
    margin-top: 20px;
}

.invoice-container .footer-button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}