.invoice-container .title-row {
    margin-bottom: 20px;
}

.invoice-container .title-row h2 {
    margin: 0;
}

.data .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.data .value {
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.data .value mat-icon {
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.data .value span {
    color: gray;
    font-size: 10px;
    display: inline-block;
    min-width: 60px;
}

.data.items {
    margin-top: 20px;
}

.invoice-container .footer-button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.total, .discount {
    text-align: right;
}

.discount .discount-type {
    width: 240px;
    margin-left: auto;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount .discount-type app-radio, .discount .discount-type app-input {
    display: inline-block;
}

.total span, .discount span {
    font-size: 10px;
    color: gray;
}

.total-container {
    margin-top: 10px;
}

.data-items-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
