/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #360185;
    --secondary-color: #8F0177;
    --secondary-color-light: #8F017720;
    --text-color: #333;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-surface {
    border-radius: 5px !important;
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    padding: var(--mat-dialog-with-actions-content-padding, 20px 10px 0) !important;
}

.mat-mdc-dialog-actions {
padding: var(--mat-dialog-actions-padding, 16px 10px) !important;
}