<div class="customers-container">
    <div class="title-row">
        <h2>Customers</h2>

        <app-button [title]="'Create Customer'" (click)="createCustomer()"></app-button>
    </div>

    <div class="customer-list">
        <app-table *ngIf="customerData" [headers]="headers" [data]="customerData" (edit)="createCustomer($event)"></app-table>
        <app-pagination
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [totalItems]="totalItems"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </div>
</div>
